[submodule "livestream-link-monitor"]
	path = livestream-link-monitor
	url = git@github.com:streamwall/livestream-link-monitor.git
[submodule "livesheet-updater"]
	path = livesheet-updater
	url = https://github.com/streamwall/livesheet-updater.git
[submodule "streamwall"]
	path = streamwall
	url = https://github.com/streamwall/streamwall.git
[submodule "streamsource"]
	path = streamsource
	url = https://github.com/streamwall/streamsource.git
