# Example .gitmodules file for Streamwall ecosystem
# This shows the structure of git submodules used in this project

[submodule "livestream-link-monitor"]
	path = livestream-link-monitor
	url = https://github.com/streamwall/livestream-link-monitor.git
	
[submodule "livesheet-checker"]
	path = livesheet-checker
	url = https://github.com/streamwall/livesheet-updater.git
	
[submodule "streamwall"]
	path = streamwall
	url = https://github.com/streamwall/streamwall.git
	
[submodule "streamsource"]
	path = streamsource
	url = https://github.com/streamwall/streamsource.git

# Note: You can use SSH URLs if you have access:
# url = git@github.com:streamwall/streamsource.git